<div class="flex flex-grow min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="title-base"><%= t('devise.registrations.edit.title') %></h2>
  </div>
  <div class="mt-8 space-y-6 sm:mx-auto sm:w-full sm:max-w-md ">
    <p class="text-xl font-semibold"><%= t('devise.registrations.edit.username') %>: <%= current_user.username %></p>
    <p class="text-xl font-semibold"><%= t('devise.registrations.edit.email') %>: <%= current_user.email %></p>
</div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                         html: { method: :put, class: 'mt-8 space-y-6 sm:mx-auto sm:w-full sm:max-w-md' }) do |f| %>
    <%= render 'devise/shared/error_messages', resource: %>

    <div class="rounded-md shadow-sm space-y-4">
      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email',
                                  class: 'form-input-base form-input-color focus-ring' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="text-gray-700">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div>
        <i class="text-sm text-gray-900"><%= t('devise.registrations.edit.password_precaution') %></i><br>
        <i class="text-sm text-gray-900"><%= t('devise.registrations.edit.minimum_password_length') %></i>
        <%= f.password_field :password, autocomplete: 'new-password',
                                        placeholder: t('devise.registrations.edit.password'),
                                        class: 'form-input-base form-input-color focus-ring' %>
        <% if @minimum_password_length %>
        <% end %>
      </div>

      <div>
        <%= f.password_field :password_confirmation, autocomplete: 'new-password',
                                                     placeholder: t('devise.registrations.edit.password_confirmation'),
                                                     class: 'form-input-base form-input-color focus-ring' %>
      </div>

      <div>
        <i class="text-sm text-gray-900"><%= t('devise.registrations.edit.current_password_reason') %></i>
        <%= f.password_field :current_password, autocomplete: 'current-password',
                                                placeholder: t('devise.registrations.edit.current_password'),
                                                class: 'form-input-base form-input-color focus-ring' %>
      </div>
      <div class="button-base button-color focus-button-ring">
        <%= f.submit t('devise.registrations.edit.submit') %>
      </div>
    </div>
  <% end %>

  <div class="flex justify-center px-6 py-5 lg:px-8">
    <div class="font-semibold text-sky-500 hover:text-orange-300">
      <%= link_to t('devise.shared.links.back'), :back %>
    </div>
  </div>

</div>
