<div class="flex flex-grow min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="title-base"><%= t('devise.registrations.new.title') %></h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                         html: { method: :post, class: 'mt-8 space-y-6 sm:mx-auto sm:w-full sm:max-w-md' }) do |f| %>
    <%= render 'devise/shared/error_messages', resource: %>

    <div class="rounded-md shadow-sm space-y-4">
      <div>
        <%= f.text_field :username, autofocus: true, autocomplete: 'username',
                                    placeholder: t('devise.registrations.new.username'),
                                    class: 'form-input-base form-input-color focus-ring' %>
      </div>

      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email',
                                  placeholder: t('devise.registrations.new.email'),
                                  class: 'form-input-base form-input-color focus-ring' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="text-gray-700"><%= t('devise.registrations.new.waiting_confirmation',
                                         email: resource.unconfirmed_email) %></div>
      <% end %>

      <div>
        <i class="text-sm text-gray-900"><%= t('devise.registrations.new.minimum_password_length') %></i>
        <%= f.password_field :password, autocomplete: 'new-password',
                                        placeholder: t('devise.registrations.new.password'),
                                        class: 'form-input-base form-input-color focus-ring' %>
      </div>

      <div>
        <%= f.password_field :password_confirmation, autocomplete: 'new-password',
                                                     placeholder: t('devise.registrations.new.password_confirmation'),
                                                     class: 'form-input-base form-input-color focus-ring' %>
      </div>
      <div class="button-base button-color focus-button-ring">
        <%= f.submit t('devise.registrations.new.submit') %>
      </div>
    </div>
  <% end %>

  <div class="flex justify-center px-6 py-5">
    <div class="link-base link-color mr-5">
      <%= link_to t('devise.shared.links.log_in'), new_session_path(resource_name) %>
    </div>
    <div class="link-base link-color">
      <%= link_to t('devise.shared.links.back'), :back %>
    </div>
  </div>
</div>
