<div class="flex flex-col text-gray-600 body-font">
    <div class="w-full">
        <!-- imageセクション -->
        <div class="h-screen bg-cover bg-center bg-fixed" style="background-image: url(<%= image_path 'background.png' %>);">
            <div class="flex items-center justify-center text-gray-900 h-full">
                <div class="text-center">
                    <h1 class="text-4xl font-bold">理学療法士国家試験をスマートに合格しよう</h1>
                    <%= button_to "ログイン", {}, { class: "rounded-full border-gray-900 mt-4" }  %>
                </div>
            </div>
        </div>

        <!-- descriptセクション -->
        <div class="flex justify-center">
            <div class="w-full max-w-4xl border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-xl my-8">
                <div class="m-5">
                    <h1 class="text-xl font-bold">国試ex for PTとは</h1>
                    <p class="text-l mt-4">理学療法士国家試験対策のための学習支援アプリです</p>
                    <div class="flex flex-row justify-around my-5">
                        <div class="flex flex-col items-center basis-1/4 border rounded-3xl shadow-xl p-4">
                            <%= image_tag 'books.png', size: 100 %>
                            <p class="text-l mt-2">過去10年分の理学療法士国家試験に対応</p>
                        </div>
                        <div class="flex flex-col items-center basis-1/4 border rounded-3xl shadow-xl p-4">
                            <%= image_tag 'laptop.png', size: 100 %>
                            <p class="text-l mt-2">インターネット環境があればどこでも学習可能</p>
                        </div>
                        <div class="flex flex-col items-center basis-1/4 border rounded-3xl shadow-xl p-4">
                            <%= image_tag 'analysis.png', size: 100 %>
                            <p class="text-l mt-2">採点の手間が省け、過去問の受験データをもとに学習可能</p>
                        </div>
                    </div>
                    <div class="flex justify-center mt-5">
                        <%= button_to "無料会員登録", {}, { class: "rounded-full border-gray-900" } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

